@model IEnumerable<EdiuxTemplateWebApp.Models.AspNetModels.aspnet_WebEvent_Events>
@{
    Layout = "";
}

<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-warning-sign"></i> @if (Model.Count() > 0)
        { <span class="badge">@Model.Count()</span> }
    </a>
    @if (Model.Count() > 0)
    {
        <ul class="dropdown-menu extended notification">
            <li class="title">
                <p>@string.Format("您有{0}則新通知", Model.Count())</p>
            </li>
            @foreach (var notifiymsg in Model)
            {
                var duringmsg = "";
                TimeSpan Diff = ((TimeSpan)(DateTime.Now - notifiymsg.EventTime));
                if (Diff.Days > 0)
                {
                    duringmsg = string.Format("於{0}天前", Diff.Days);
                }
                else if (Diff.Hours > 0)
                {
                    duringmsg = string.Format("於{0}小時前", Diff.Hours);
                }
                else if (Diff.Minutes > 0)
                {
                    duringmsg = string.Format("於{0}分鐘前", Diff.Minutes);
                }
                else
                {
                    duringmsg = string.Format("於{0}秒前", Diff.Seconds);
                }
                <li> <a href="@Url.Action("Details",new { id = notifiymsg.EventId })"> <span class="label label-info"><i class="icon-plus"></i></span> <span class="message">@notifiymsg.Message</span> <span class="time">@duringmsg</span> </a> </li>
            }
            <li class="footer"> <a href="@Url.Action("Index")">查看所有通知</a> </li>
        </ul>
    }
    else
    {
        <ul class="dropdown-menu extended notification">
            <li class="title">
                <p> 您沒有任何新通知訊息 </p>
            </li>
            <li class="footer"> <a href="@Url.Action("Index")">查看所有通知</a> </li>
        </ul>
    }

</li>
