<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @ViewBag.WebSiteName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/Content/css/thin-admin.css" rel="stylesheet" media="screen">
    <link href="/Content/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="/Content/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/Content/style/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="/Content/assets/js/html5shiv.js"></script>
          <script src="/Content/assets/js/respond.min.js"></script>
        <![endif]-->
    @RenderSection("pagelevelcss", false)
</head>
<body>
    <div class="container">
        <div class="top-navbar header b-b">
            <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
            <div class="brand pull-left"> <a href="@Url.Action("Index","Demo")"><img src="/Content/images/logo.png" width="147" height="33"></a></div>

            <form class="pull-right">
                <input type="search" placeholder="Search..." class="search" id="search-input">
            </form>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
    <div class="wrapper">
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>
                    <li class="current"> <a href="@Url.Action("Index","Demo")"> <i class="icon-dashboard"></i> Dashboard </a> </li>
                    <li>
                        <a href="#"> <i class="icon-desktop"></i> UI Features <span class="label label-info pull-right">7</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="@Url.Action("General","Demo")"> <i class="icon-angle-right"></i> General </a> </li>
                            <li> <a href="@Url.Action("Buttons","Demo")"> <i class="icon-angle-right"></i> Buttons </a> </li>
                            <li> <a href="@Url.Action("Tabs","Demo")"> <i class="icon-angle-right"></i> Tabs</a> </li>
                            <li> <a href="@Url.Action("Accordions","Demo")"> <i class="icon-angle-right"></i> Accordions </a> </li>
                            <li> <a href="@Url.Action("NestableList","Demo")"> <i class="icon-angle-right"></i> Nestable List </a> </li>
                            <li> <a href="@Url.Action("Grid","Demo")"> <i class="icon-angle-right"></i> Grid </a> </li>
                            <li> <a href="@Url.Action("Dialogs","Demo")"> <i class="icon-angle-right"></i> Dialogs </a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <i class="icon-edit"></i> Forms <span class="label label-info pull-right">4</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="@Url.Action("FormElements","Demo")"> <i class="icon-angle-right"></i> Form Elements </a> </li>
                            <li> <a href="@Url.Action("FormValidation","Demo")"> <i class="icon-angle-right"></i> Form Validation</a> </li>
                            <li> <a href="@Url.Action("FormMasks","Demo")"> <i class="icon-angle-right"></i> Form Masks </a> </li>
                            <li> <a href="@Url.Action("FormWizard","Demo")"> <i class="icon-angle-right"></i> Form Wizard </a> </li>
                            <li> <a href="@Url.Action("MultipleFileUpload","Demo")"> <i class="icon-angle-right"></i> Multiple File Upload </a> </li>
                            <li> <a href="@Url.Action("DropzoneFileUpload","Demo")"> <i class="icon-angle-right"></i> Dropzone File Upload </a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"> <i class="icon-table"></i> Tables <span class="label label-info pull-right">2</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="@Url.Action("StaticTable","Demo")"> <i class="icon-angle-right"></i> Static </a> </li>
                            <li> <a href="@Url.Action("DynamicTable","Demo")"> <i class="icon-angle-right"></i> Dynamic </a> </li>
                        </ul>
                    </li>
                    <li> <a href="@Url.Action("Chart","Demo")"> <i class="icon-bar-chart"></i> Charts &amp; Statistics </a> </li>
                    <li>
                        <a href="#"> <i class="icon-flag"></i> Fontawesome <span class="label label-info pull-right">2</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="@Url.Action("IconsNew","Demo")"> <i class="icon-angle-right"></i> New-Icons </a> </li>
                            <li> <a href="@Url.Action("Icons","Demo")"> <i class="icon-angle-right"></i> Icons </a> </li>
                        </ul>
                    </li>
                    <li> <a href="@Url.Action("Gallery","Demo")"> <i class="icon-picture"></i> Gallery </a> </li>
                    <li> <a href="@Url.Action("Timeline","Demo")"> <i class="icon-time"></i> Timeline </a> </li>
                    <li>
                        <a href="#"> <i class="icon-folder-open-alt"></i> Pages <span class="label label-info pull-right">5</span> <i class="arrow icon-angle-left"></i></a>
                        <ul class="sub-menu">
                            <li> <a href="@Url.Action("Login","Account")"> <i class="icon-angle-right"></i> Login </a> </li>
                            <li> <a href="@Url.Action("UserProfile","Demo")"> <i class="icon-angle-right"></i> User Profile </a> </li>
                            <li> <a href="@Url.Action("mailbox","Demo")"> <i class="icon-angle-right"></i> Mailbox </a> </li>
                            <li> <a href="@Url.Action("fullCalendar","Demo")"> <i class="icon-angle-right"></i> Calendar </a> </li>
                            <li> <a href="@Url.Action("404Page","Demo")"> <i class="icon-angle-right"></i> 404-page </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-content">
            <div class="content container">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="bottom-nav footer"> @DateTime.Now.Year &copy; 我的 ASP.NET 應用程式 - Thin Admin by Riaxe Systems. </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/js/smooth-sliding-menu.js"></script>
    <script class="include" type="text/javascript" src="/Content/javascript/jquery191.min.js"></script>
    <script class="include" type="text/javascript" src="/Content/javascript/jquery.jqplot.min.js"></script>
    @RenderSection("pagelevelscripts", false)



    @*@Html.Partial("_ThemeChanger")*@

    @RenderSection("scripts", required: false)
</body>
</html>
