@using EdiuxTemplateWebApp.Models
@model List<Menus>
@{
    Layout = "";
    string ctrlName = ViewContext.RouteData.Values["controller"] as string;
    string actionName = ViewContext.RouteData.Values["action"] as string;
}

<ul id="nav">
    @foreach (Menus menuitem in Model)
    {
        string menuvpath = Url.Action(menuitem.System_ControllerActions.Name, menuitem.System_ControllerActions.System_Controllers.Name);

        bool isCurrentNode = menuvpath==Request.Path
            || (menuitem.ExternalURL == Request.Path);

        if (menuitem.ChildMenus.Any(v => v.Void == false) == false)
        {

            if (menuitem.IsExternalLinks)
            {

                <li @(isCurrentNode ? Html.Raw(" class=\"current\"") : Html.Raw("") )>
                    <a href="@menuitem.ExternalURL">
                        @if (string.IsNullOrEmpty(menuitem.IconCSS) == false)
                        {
                            <i class="@menuitem.IconCSS"></i>
                        }
                        @menuitem.Name
                    </a>
                </li>
            }
            else
            {
                if (menuitem.System_ControllerActions != null)
                {
                    if (menuitem.System_ControllerActions.System_Controllers != null)
                    {
                        <li @(isCurrentNode ? Html.Raw(" class=\"current\"") : Html.Raw("") )>
                            <a href="@menuvpath">
                                @if (string.IsNullOrEmpty(menuitem.IconCSS) == false)
                                {
                                    <i class="@menuitem.IconCSS"></i>
                                }
                                <span>@menuitem.Name</span>
                            </a>
                        </li>
                    }
                }
            }

        }
        else
        {
            if (menuitem.IsExternalLinks)
            {
                <li @(isCurrentNode ? Html.Raw(" class=\"current\"") : Html.Raw(""))>
                    <a href="@menuitem.ExternalURL"> <i class="@menuitem.IconCSS"></i> @menuitem.Name  <i class="arrow icon-angle-left"></i></a>

                    @Html.Partial("_SubMenuBarPartial", menuitem.ChildMenus.ToList())
                </li>
            }
            else
            {
                if (menuitem.System_ControllerActions != null)
                {
                    if (menuitem.System_ControllerActions.System_Controllers != null)
                    {
                        <li @(isCurrentNode ? Html.Raw(" class=\"current\"") : Html.Raw(""))>
                            <a href="@menuvpath">

                                <i class="@menuitem.IconCSS"></i>
                                @menuitem.Name
                                <i class="arrow icon-angle-left"></i>
                            </a>
                            @Html.Partial("_SubMenuBarPartial", menuitem.ChildMenus.ToList())
                        </li>
                    }
                }

            }

        }

    }

    @*@if (User.IsInRole("Admins"))
        {
            <li>
                <a href="@Url.Action("Index", "Cars")">

                    <i class="glyphicon glyphicon-list"></i>
                    <span>@WebPages.ETAs_Cars_Binding</span>
                </a>
            </li>
        }
        @if (User.IsInRole("警衛") || User.IsInRole("Admins"))
        {
            <li>
                <a href="@Url.Action( "ListRemainParkingGridAmounts", "ParkingLotsFloor")">

                    <i class="glyphicon glyphicon-question-sign"></i>
                    <span>剩餘車位數量維護</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Admins"))
        {
            <li>
                <a href="@Url.Action("Index", "News")">

                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span>公告維護</span>
                </a>
            </li>
        }

        }*@
</ul>


<!-- end top-menu nav -->
