@model List<Menus>
@{
    Layout = "";
    string ctrlName = ViewContext.RouteData.Values["controller"] as string;
    string actionName = ViewContext.RouteData.Values["action"] as string;
    var appInfo = (aspnet_Applications)ViewBag.ApplicationInfo;
}

<ul id="nav">
    @foreach (Menus menuitem in Model)
    {
        bool isCurrentNode = (menuitem.aspnet_Paths.Path == Request.Path);

        if (menuitem.ChildMenus.Any(v => v.Void == false) == false)
        {
            <li @(isCurrentNode ? Html.Raw(" class=\"current\"") : Html.Raw("") )>
                <a href="@menuitem.aspnet_Paths.Path">
                    @if (string.IsNullOrEmpty(menuitem.IconCSS) == false)
                    {
                        <i class="@menuitem.IconCSS"></i>
                    }
                    @menuitem.Name
                </a>
            </li>
        }
        else
        {
            <li @(isCurrentNode ? Html.Raw(" class=\"current\"") : Html.Raw(""))>
                <a href="@menuitem.aspnet_Paths.Path"> <i class="@menuitem.IconCSS"></i> @menuitem.Name  <i class="arrow icon-angle-left"></i></a>

                @Html.Partial("_SubMenuBarPartial", menuitem.ChildMenus.ToList())
            </li>
        }

    }
</ul>


<!-- end top-menu nav -->
